.list-clients {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
.list-clients-cart {
    flex-basis: calc((100% - 150px) / 6) ;
    border: 1px solid rgba(175, 177, 184, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

    &:hover, &:focus {
        border-color: var(--blue-color); 
    }

    &:hover .clients-icon {
        fill: var(--blue-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
}


.list-clients-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;

    &:hover .clients-icon {
        fill: var(--blue-color); 
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
}   
        
.clients-icon {
    width: 106px;
    height: 60px;
    fill: rgba(175, 177, 184, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover, &:focus {
        fill: var(--blue-color);
    }
}