.nav-list__studio-index, .studio-portfolio, .nav-list__portfolio-indexx, .portfolio-portfolio, .nav-list__contakts {
    text-decoration: none; 
    color:rgba(33, 33, 33, 1) ;    
      
}
.nav-list__studio-index, .portfolio-portfolio {
    position: relative;
    color: var(--blue-color);
}