.list-comand-icon {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-size: 40px 40px;
    background-position: center center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-comand-icon:hover, .list-comand-icon:focus {
    background-color: var(--blue-color);    
    
}
.list-comand-icon:hover .comand-icon {
    fill: var(--white-color);    
}

.comand-icon {
    width: 20px;
    height: 20px;
    fill:rgba(117, 117, 117, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.comand-icon:hover, .comand-icon:focus {
    fill: var(--white-color);
}